*/config.h
dmenu/dmenu
dmenu/dmenu.o
dmenu/drw.o
*/stest
*/stest.o
*/util.o
dwm/dwm
dwm/dwm.c.orig
dwm/dwm.o
st/st
st/st.h.orig
st/st.o
st/x.c.orig
st/x.o
slstatus/components/*
slstatus/slstatus
slstatus/slstatus.o
